* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.main {
  overflow-x: hidden;
}

.content {
  margin-left: 250px; /* Match the sidebar width */
  background-color: #f6fbfe;
  min-height: 100vh;
}

/* dashboard.component.scss */
.dashboard-container {
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  margin-bottom: 24px;
  color: #333;
  font-weight: 500;
}

/* Styles for the Summary Cards */
.summary-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.summary-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background-color: #eee;
}

.card-icon {
  font-size: 36px;
  color: #007bff; 
  margin-left: 10px;
}

.card-content {
  text-align: left;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

.card-value {
  font-size: 24px;
  font-weight: 700;
}

.card-change {
  font-size: 14px;
  margin-top: 8px;
}

.positive-growth {
  color: green;
}

.negative-growth {
  color: red;
}


.charts-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.chart-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
  background-color: white;
}




.product-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}
