.navbar {
    position: fixed ;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    z-index: 1050;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    height: 80px;
}

.navbar-brand span {
    font-family: "Boldonse", system-ui;
    font-weight: 300;
    font-style: italic;
}