
<body>
  <div class="main-wrapper d-flex align-items-center justify-content-center">
    <div class="login-box bg-white shadow rounded p-4">
      <div class="d-flex align-items-center justify-content-center mb-3">
        <img src="/Images/Cyberlife.JPG" alt="CyberShop Logo" height="40" width="40" class="me-2">
        <h5 class="mb-0 fw-bold fst-italic">CyberShop</h5>
      </div>
    <hr>
    <h4 class="text-center mb-3">Forgot Password</h4>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Enter your email address</label>
        <input type="email" class="form-control" id="email" placeholder="example@mail.com" required>
      </div>
      <button type="submit" class="btn btn-primary">Send Code</button>
    </form>
    </div>
  </div>
</body>


