
<div class="main-wrapper">
    <section class="container my-5">
      <!-- Removed the duplicate outer loop -->
      <div *ngFor="let category of categories">
        <h2 class="text-center mb-4 border-bottom pb-2 fw-bold">
          {{ category.name }}
        </h2>
        
        <div class="row justify-content-center text-center g-4">
          <!-- Inner loop through all subcategories -->
          <ng-container *ngFor="let subcat of subcategories">
            <!-- Only display if category IDs match -->
            <div *ngIf="subcat.categoryId === category.idSubCat" 
                 class="col-6 col-sm-4 col-md-3 col-lg-2">
              <div class="subcategory-item">
                <img [src]="subcat.imgUrl" 
                     [alt]="subcat.name" 
                     class="subcategory-img">
                <span>{{ subcat.name }}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row justify-content-center text-center g-4">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
              <div class="subcategory-item">
                <img src="/Images/Categories/micro-rode.webp"
                     class="subcategory-img">
                <span>Security System</span>
              </div>
            </div>
      </div>
    </section>
  </div>
  
            
